/*About*/

.sectionAbout {
    position: relative;
    top: -11em;
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(13, 13, 13, 0.5);
}

.intro {
    font-family: Bellefair;
    font-size: 91px;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

.container_about {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    text-align: initial;
    position: relative;
    overflow: hidden;
}

.for_padding {
    padding: 0 20px;
}

.plast {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    background-color: #000000;
}

/*Left side*/

.container_about_left {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 3em;
    z-index: 1;
    gap: 2em;
}

.container_about_left .heading {
    font-size: 91px;
}

.text_under_heading {
    font-size: 27px;
}

/*Right side*/

.container_about_right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
}

.img_about {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.img_about img {
    z-index: 2;
}

/*Lines*/

.line-1 {
    position: absolute;
    width: 120%;
    height: 1px;
    background-color: #6d6c6c;
    top: 10%;
    left: 2%;
    z-index: 2;
}

.line-2 {
    position: absolute;
    width: 1px;
    height: 120%;
    background-color: #6d6c6c;
    top: 5%;
    left: 10%;
    z-index: 2;
}

.line-3 {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #6d6c6c;
    top: -10%;
    right: 10%;
    z-index: 2;
}

.line-4 {
    position: absolute;
    width: 30%;
    height: 1px;
    background-color: #6d6c6c;
    bottom: 10%;
    left: 0;
    z-index: 2;
}

.circle_about {
    position: absolute;
    width: 852px;
    height: 852px;
    left: -11em;
    bottom: -6em;
}

.text_under_image {
    font-size: 24px;
    z-index: 1;
    padding: 0 10px;
}

.container_about a {
    position: relative;
    display: flex;
    background: #404040;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: 1s;
    z-index: 1;
    left: 6em;
    margin-bottom: 10px;
}

.container_about a:hover {
    transition: 0.5s;
    background-color: white;

    span {
        color: #404040;
    }
}

.container_about a span {
    position: absolute;
    left: 40%;
    top: 0.7em;
    width: 5em;
    font-family: Bellefair;
    font-size: 32px;
    color: white;
}

.circle {
    border: 15px solid #ffffff;
    border-radius: 50%;
    box-shadow: inset 0px 0px 20px 5px rgba(255, 255, 255, 0.5),
        0px 0px 20px 5px rgba(255, 255, 255, 0.5);
}

/*global*/
.container {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}


/*Adaptation*/
@media only screen and (max-width: 539px){
    .container{
        width: 344px;
    }

    /*About*/
    .sectionAbout{
        top: -2.4em;
    }

    .intro{
        font-size: 20px;
    }

    /**/.container_about{
        display: flex;
        flex-direction: column;
    }

    .container_about_left .heading{
        font-size: 30px;     
        text-indent: 10px; 
    }
    .text_under_heading, .text_under_image{
        font-size: 12px;
        text-indent: 10px;
    }

    .container_about_right{
        align-items: center;
    }
    .container_about_right a{
        margin-left: 20%;
    }
    
    .img_about img{
        width: 80%;
        height: auto;
    }

    .circle_about{
        width: 320px;
        height: 320px;
        left: -3em;
    }

    .container_about a{
        left: 2em;
        align-self: flex-start;
        width: 40px;
        height: 40px;
    }

    .container_about a span{
        left:40%;
        top: 0.7em;    
        width: 5em;
        font-size: 16px;
    }
}

@media only screen and (min-width: 540px){
    .container{
        width: 540px;
    }    
    /*About*/
    .sectionAbout{
        top: -4.4em;
    }

    .intro{
        font-size: 40px;
    }

    .container_about_left .heading{
        font-size: 55px;      
    }
    .text_under_heading, .text_under_image{
        font-size: 16px;
    }

    .container_about_right{
        align-items: center;
    }
    
    .img_about img{
        width: 80%;
        height: auto;
    }

    .circle_about{
        width: 320px;
        height: 320px;
        left: -3em;
    }

    .container_about a{
        left: 2em;
        align-self: flex-start;
        width: 60px;
        height: 60px;
    }

    .container_about a span{
        left:40%;
        top: 0.7em;    
        width: 5em;
        font-size: 24px;
    }
}

@media only screen and (min-width: 768px){
    /*Global*/
    .container{
        width: 768px;
    }

    /*About*/
    .sectionAbout{
        top: -5.2em;
    }

    .intro{
        font-size: 50px;
    }

    .container_about_left .heading{
        font-size: 55px;      
    }
    .text_under_heading, .text_under_image{
        font-size: 16px;
    }

    .container_about_right{
        align-items: center;
    }
    
    .img_about img{
        width: 80%;
        height: auto;
    }

    .circle_about{
        width: 472px;
        height: 472px;
        left: -7em;
    }

    .container_about a{
        left: 2em;
        align-self: flex-start;
        width: 60px;
        height: 60px;
    }

    .container_about a span{
        left:40%;
        top: 0.7em;    
        width: 5em;
        font-size: 24px;
    }
}

@media only screen and (min-width: 992px){
    /*Global*/
    .container{
        width: 992px;
    }
    
    /*About*/
    .sectionAbout{
        top: -7em;
    }

    .intro{
        font-size: 60px;
    }

    .container_about_left .heading{
        font-size: 65px;      
    }
    .text_under_heading, .text_under_image{
        font-size: 20px;
    }

    .container_about_right{
        align-items: center;
    }
    
    .img_about img{
        width: 90%;
        height: 100%;
    }

    .circle_about{
        width: 622px;
        height: 622px;
        left: -8em;
    }

    .container_about a{
        left: 2em;
        align-self: flex-start;
        width: 80px;
        height: 80px;
    }
    
    .container_about a span{
        left:40%;
        top: 0.7em;    
        width: 5em;
        font-size: 32px;
    }
}

@media only screen and (min-width: 1200px){
    /*Global*/
    .container{
        width: 1200px;
    }
    
    /*About*/

    .sectionAbout{
        top: -11em;
    }
    
    .intro{
        font-size: 91px;
    }

    .container_about_left .heading{
        font-size: 91px;  
    }

    .text_under_image{
        font-size: 24px;
    }

    .text_under_heading{
        font-size: 24px;
    }

    .container_about_right{
        align-items: center;
    }

    .circle_about{
        width: 852px;
        height: 852px;
        left: -11em;
        bottom: -12em;
    }

    .container_about a{
        left: 6em;
        margin-bottom: 10px;
        width: 80px;
        height: 80px;
    }
    .container_about a span{
        left:40%;
        top: 0.7em;    
        width: 5em;
        font-size: 32px;
    }

}

@media only screen and (min-width: 1400px){
    /*Global*/
    .container{
        width: 1400px;
    }

    /*About*/

    .sectionAbout{
        top: -11em;
    }
    
    .intro{
        font-size: 91px;
    }

    .container_about_left .heading{
        font-size: 91px;  
    }

    .text_under_image{
        font-size: 24px;
    }

    .text_under_heading{
        font-size: 27px;
    }

    .container_about_right{
        align-items: center;
    }

    .circle_about{
        width: 852px;
        height: 852px;
        left: -11em;
        bottom: -6em;
    }

    .container_about a{
        left: 6em;
        margin-bottom: 10px;
        width: 80px;
        height: 80px;
    }

    .container_about a span{
        left:40%;
        top: 0.7em;    
        width: 5em;
        font-size: 32px;
    }
    
}
