/*Header part*/
.header {
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
}

.header__statue {
    z-index: 1;
    filter: drop-shadow(2px 2px 20px rgba(255, 255, 255, 0.5));
}

.header__circle {
    width: 1340px;
    height: 1340px;
    position: absolute;
    right: -13%;
    top: 7em;
    z-index: 0;
}

.circle {
    border: 15px solid #ffffff;
    border-radius: 50%;
    box-shadow: inset 0px 0px 20px 5px rgba(255, 255, 255, 0.5),
        0px 0px 20px 5px rgba(255, 255, 255, 0.5);
}

/*Main*/

.main {
    min-height: 200vh;
    flex: 1 1 auto;
    z-index: 1;
    background-color: #0D0D0D;
    position: relative;
    top: -10px;
}

/*global*/
.container {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}

button:hover {
    background: #404040;
    transition: 0.5s;
    cursor: pointer;
}