/*Footer*/

.footer {
    width: 100%;
    min-height: 300px;
    /*background-color: black;*/
}

.footer_container {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.grid_footer_top_part {
    display: grid;

    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid white;
    padding: 20px;
}

.social_media {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.social_media p {
    font-family: Bellefair;
    font-size: 50px;
    margin-bottom: 10px;
}

.social_media ul {
    display: flex;
    gap: 0.5em;
}

.social_media ul li {
    list-style: none;
}

.icons {
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.5s;
}

.icons:hover {
    background: #404040;
    transition: 0.5s;
}

.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 10px;
}

.newsletter p {
    font-size: 20px;
}

.email_container {
    display: flex;
}

#email {
    background: #0D0D0D;
    width: 400px;
    height: 35px;
    border: 1px solid white;
    border-radius: 5px 0px 0 5px;
    padding-left: 10px;
}

#email:focus {
    background: white;
}

#sign_up {
    width: 100px;
    height: 35px;
    background-color: white;
    font-family: Bellefair;
    border: 1px solid white;
    transition: 0.5s;
    border-radius: 0px 5px 5px 0px;
    font-size: 19px;
}

#sign_up:hover {
    background-color: #0D0D0D;
    color: white;
}

.footer_bottom_part {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 10px 30px;
    border-bottom: 1px solid white;
}

.footer_bottom_part div {
    display: flex;
    flex-direction: column;
}

.footer_bottom_part div h3 {
    font-size: 20px;
}


.footer_bottom_part div p {
    color: #8d8a8a;
}

.under_footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    gap: 3em;
    font-size: 15px;
}

.links {
    display: flex;
    gap: 2em;
}

.under_icons {
    position: relative;
    top: 5px;
    right:5px;
}

.under_footer a:hover {
    color: #404040;
    transition: 0.3s;
}

.container {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}

.toast {
    position: fixed;
    left:50%;
    top:50%;
    
    padding: 15px 25px;
    background-color: #1a1a1a; 
    color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    z-index: 2000;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #333;


    transform: translate(-50%, -250%) scale(0.7);
    opacity: 0;
    transition: transform 0.5s;
}

.toast_visible {
    transform: translate(-50%, -50%) scale(1) !important; 
    opacity: 1 !important; 
}

/*Adaptation*/
@media only screen and (max-width: 539px){
    .container{
        width: 344px;
    }
    
    /*Footer*/
    .grid_footer_top_part{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social_media{
        align-items: center;
    }

    .social_media p{
        font-size:40px;
    }

    .social_media ul li a i{
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    #email{
        width: 200px;
        height: 30px;
    }
    
    .newsletter p{
        font-size: 12px;
    }

    #sign_up{
        height: 30px;
    }

    .footer_bottom_part{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:10px;
    }

    .footer_bottom_part img{
        width: 20%;
        height: 20%;
    }
    .footer_bottom_part div h3{
        font-size: 14px;
    }
    .footer_bottom_part div p{
        font-size: 10px;
    }
    .under_footer{
        font-size: 8px;
    }
}

@media only screen and (min-width: 540px){
    .container{
        width: 540px;
    }

    /*Footer*/
    .grid_footer_top_part{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social_media{
        align-items: center;
    }

    .footer_bottom_part{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:10px;
    }

    .footer_bottom_part img{
        width: 20%;
        height: 20%;
    }
    .footer_bottom_part div h3{
        font-size: 14px;
    }
    .footer_bottom_part div p{
        font-size: 10px;
    }
    .under_footer{
        font-size: 8px;
    }
}

@media only screen and (min-width: 768px){
    /*Global*/
    .container{
        width: 768px;
    }
    /*Footer*/
    .grid_footer_top_part{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social_media{
        align-items: center;
    }

    .footer_bottom_part{
        display: flex;
        flex-direction: row-reverse;
        align-items:flex-start;
        gap:0px;
    }

    .footer_bottom_part div h3{
        font-size: 14px;
    }
    .footer_bottom_part div p{
        font-size: 10px;
    }
    .under_footer{
        font-size: 13px;
    }
}

@media only screen and (min-width: 992px){
    /*Global*/
    .container{
        width: 992px;
    }
    
    /*Footer*/
    .grid_footer_top_part{
        display: grid;
    }

    .social_media{
        align-items: start;
    }

    .footer_bottom_part div h3{
        font-size: 18px;
    }
    .footer_bottom_part div p{
        font-size: 14px;
    }
    .under_footer{
        font-size: 15px;
    }
}

@media only screen and (min-width: 1200px){
    /*Global*/
    .container{
        width: 1200px;
    }

    /*Footer*/
    .grid_footer_top_part{
        display: grid;
    }

    .footer_bottom_part div h3{
        font-size: 20px;
    }
    .footer_bottom_part div p{
        font-size: 16px;
    }
    .under_footer{
        font-size: 15px;
    }
}

@media only screen and (min-width: 1400px){
    /*Global*/
    .container{
        width: 1400px;
    }
    
    /*Footer*/
    .grid_footer_top_part{
        display: grid;
    }
    .footer_bottom_part div h3{
        font-size: 20px;
    }
    .footer_bottom_part div p{
        font-size: 16px;
    }
    .under_footer{
        font-size: 15px;
    }
    
}