.body{
    background-image: url('/history-bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_container{
    width: 100%;
    height: 50vw;
    display: flex;
    align-items: end;
}

.blackout{
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    background-image: linear-gradient(to bottom, rgba(142, 134, 134, 0.555), black);
    opacity: 0.5;
}

.header_container p{
    font-family: Bellefair;
    font-size: 90px;
    padding: 10px 0px;
    position: absolute;
    margin-left: 10px;
}

#main{
    width: 100%;
    min-height: 800px;
    color: #ffffff;
}

/*introduction section*/

#introduction, .history_section{
    background-color: #000000;
    
}

.introduction_container{

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 45px 40px;
    border-bottom: 1px solid #6d6c6c;
}
.information{
    display: flex;
    
    flex-direction: column;
    gap:15px;
}

.introduction_heading{
    font-size: 40px;
    font-family: Bellefair;
}

/*Global*/
.container {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}

.a{
    text-decoration: none;
    color:azure;
}
.spacer{
    height: 20vw;
}


/*Adaptation*/
@media only screen and (max-width: 539px){
    .container{
        width: 344px;
    }
    /*header*/
    .header_container p{
        font-size: 40px;
    }

    /*Introduction*/
    .introduction_container{
        grid-template-columns: 1fr;
        padding: 20px 20px;
    }
    .introduction_heading{
        font-size: 20px;
    }

}

@media only screen and (min-width: 540px){
    .container{
        width: 540px;
    }


    /*Introduction*/
    .introduction_container{
        grid-template-columns: 1fr ;
    }
}

@media only screen and (min-width: 768px){
    /*Global*/
    .container{
        width: 768px;
    }

}

@media only screen and (min-width: 992px){
    /*Global*/
    .container{
        width: 992px;
    }

    /*introduction*/

    .introduction_container{
        grid-template-columns: 1fr 1fr;
    }

    .introduction_heading{
        font-size: 30px;
    }
    
}

@media only screen and (min-width: 1200px){
    /*Global*/
    .container{
        width: 1200px;
    }

    
    /*introduction*/

    .introduction_heading{
        font-size: 30px;
    }
}

@media only screen and (min-width: 1400px){
    /*Global*/
    .container{
        width: 1400px;
    }

    /*introduction*/

    .introduction_heading{
        font-size: 40px;
    }
}
