#faq{
    background-color: #FFFFFF;
}

.faq_container{
    display: flex;
    min-height: 200px;
    flex-direction: column;

    padding: 0 20px;
}
.heading{
    font-size: 50px;
    margin-top: 50px;
}

.accordion_header {
    display: flex;
    padding: 20px 0;
    align-items: center;
    gap:20px;
    width: 100%;
    border: none;
    outline: none;
    
    cursor: pointer;
    background-color: white;
    border-top: 1px solid #8d8a8a;
    font-family: Poppins;
}

.cross{
    background-color: #000000;
    color:white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    font-size: 24px;
}

.accordion_header:focus,
.accordion_header:hover{
    .cross{
        scale:1.2;
    }
}


.cross_rotate{
    transform: rotate(45deg);
}

.accordion_header span{
    position: relative;
    font-size: 28px;
}

.accordion_header span::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #000000;
    left: 0;
    bottom: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: 0.5s;
}

.accordion_header:hover{
    span::before{
        transform: scaleX(1);
        transform-origin: left;
        transition: 0.2s;
    }
}
button:hover{
    background: #FFFFFF;
    transition: 0.5s;
    cursor: pointer;
}

.accordion_content {
    margin-bottom: 10px;
    padding: 0px 15px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition:  0.4s ;
}

.container {
    width: 1400px;
    height: 100%;
    margin: 0 auto;

}

.a{
    text-decoration: none;
    color:azure;
}

/*Adaptation*/
@media only screen and (max-width: 539px){
    .container{
        width: 344px;
    }

}

@media only screen and (min-width: 540px){
    .container{
        width: 540px;
    }
  
}

@media only screen and (min-width: 768px){
    /*Global*/
    .container{
        width: 768px;
    }
}

@media only screen and (min-width: 992px){
    /*Global*/
    .container{
        width: 992px;
    }

}

@media only screen and (min-width: 1200px){
    /*Global*/
    .container{
        width: 1200px;
    }

}

@media only screen and (min-width: 1400px){
    /*Global*/
    .container{
        width: 1400px;
    }

}